Q3) For the given 2-D array arr=np.array([10, 20, 30], [40, 50, 60], [70, 80, 90]), access elements using row and column indices as follows:

a) Access 1st row, 2nd column

In [1]:
import numpy as np
arr = np.array([[10, 20, 30], [40, 50, 60], [70, 80, 90]])
element_1 = arr[0, 1]

print("Element at 1st row, 2nd column:", element_1)

Element at 1st row, 2nd column: 20

b) Access 3rd row, 1st column

In [2]:
import numpy as np
arr = np.array([[10, 20, 30], [40, 50, 60], [70, 80, 90]])
element_2 = arr[2, 0]

print("Element at 3rd row, 1st column:", element_2)

Element at 3rd row, 1st column: 70