Assign 4.1(a) : WAP to print the table of 7

In [ ]:
for i in range(1,11):
  print(7,"*", i ,"=", i*7)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

Assign 4.1 (b) : WAP to print the table of 9

In [ ]:
for i in range(1,11):
  print(9,"*", i ,"=", i*9)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

Assign 4.2 : WAP tp print the table of n and n is given by user.

In [ ]:
a= int(input("Enter a number: "))
for i in range(1,11):
  print(a,"*", i ,"=",i*a)

Enter a number: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

Assign 4.3 : WAP to ass all the numbers from 1 to n and n is given by user.

In [ ]:
n = int(input("Enter a number: "))
for i in range(1,n):
  n=n+i
print("Sum is --->",n)

Enter a number: 3
Sum is ---> 6