Q1. Create a List L that is defined as =[10,20,30,40,50,60,70,80].

i) WAP to add 200 and 300 to L.

In [ ]:
L=[10,20,30,40,50,60,70,80]
print(L)
L.append(200)
L.append(300)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

ii) WAP to remove 10 and 30 from L.

In [ ]:
L.remove(10)
L.remove(30)
print(L)

[20, 40, 50, 60, 70, 80, 200, 300]

iii) WAP to sort L in Ascending Order.

In [ ]:
L.sort()
print(L)

[20, 40, 50, 60, 70, 80, 200, 300]

iv) WAP to sort L in Descending Order.

In [ ]:
L.sort(reverse=True)
print(L)

[300, 200, 80, 70, 60, 50, 40, 20]