Q2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions:

i) Identify the highest score and its index in the tuple

In [ ]:
scores=(45, 89.5, 76, 45.4, 89, 92, 58, 45)
Highest=max(scores)
print("max scores",Highest)
idx=scores.index(Highest)
print("index is",idx)

max scores 92
index is 5

ii) Find the lowest score and count how many times it appears.

In [ ]:
Lowest=min(scores)
print("lowest scores",Lowest)
print(scores.count(45))

lowest scores 45
2

iii) Reverse the tuple and return it as a list.

In [ ]:
print(list(scores[::-1]))

[45, 58, 92, 89, 45.4, 76, 89.5, 45]

iv) Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index, or a message saying it’s not present.

In [ ]:
num=int(input("Enter required Number "))
if num in scores:
    print("Present")
else:
    print("Error:404 Number not found")

Enter required Number 76
Present